<h1><u><b>About my project</b></u></h1>

<a href="{% url 'dashboard' %}"></a>
<h2><b>Project Overview</b></h2>
<p>
    This Honors project was done by Abhay (Registration No. 2210080013), 
    a highly skilled student at KL University, Hyderabad. 
    
    I am currently in my second year of the Bachelor of Technology (Honors) program, 
    specializing in Artificial Intelligence and Data Science. 
    This website is created using Django framework dedicated to download and showcase my (DAA) and (DDAI) combined project(Flappy bird AI),
    integrating knowledge acquired from four pivotal courses.
     <li>Python Full Stack Development using Django (PFSD)</li>
     <li>Data-Driven Artificial Intelligence (DDAI)</li>
     <li>Design and Analysis of Algorithms (DAA)</li>
     </p>
     <p> Please download the available application(zip file), code and project report by providing your name,email and mobile number in the home page.</p>

     <center><h1>Thank you</h1></center>